@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.list {
  color: $instock-black;
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  @include tablet {
    padding: 0;
    top: 92px;
  }
  @include desktop {
  }
  &__warehouse-information {
    border-bottom: 1px solid $cloud;
  }
  &__warehouse-information-container {
    @include main-page-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include tablet {
      flex-wrap: nowrap;
    }
  }
  &__warehouse-location {
    order: 0;
    width: 100%;
    margin: 1rem 0;
    .list__content-info {
      width: 141px;
    }
    @include tablet {
      width: 40%;
      margin: 1.5rem 0;
      border-right: 1px solid $cloud;
    }
  }
  &__warehouse-contact-name {
    order: 1;
    width: 50%;
    .list__content-info {
      width: 118px;
    }
    @include tablet {
      width: 30%;
      margin: 1.5rem 0 1.5rem 2.5rem;
      .list__content-info {
        width: 125px;
      }
    }
  }
  &__warehouse-contact-information {
    order: 1;
    margin-bottom: 1rem;
    width: 50%;
    .list__content-info {
      width: 118px;
    }
    @include tablet {
      width: 30%;
      margin: 1.5rem 0;
    }
  }
  &__arrow-img{
    @keyframes arrow {
      0%{
        transform: none;
      }
      90%{
        transform: translateX(3.5px);
      }
      100%{
        transform: translateX(4px);
      }
    }
    :hover{
      animation-duration: .5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-name: arrow;
    }
  }
  &__content-title-bar {
    display: none;
    background-color: $light-grey;
    height: 40px;
    .list__qty-desktop {
      display: none;
    }
    @include main-page-padding;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .list__content-label-container:nth-child(1) {
        width: 18.75%;
        @include desktop {
          width: 15%;
        }
      }
      .list__content-label-container:nth-child(2) {
        width: 18.75%;
        @include desktop {
          width: 18%;
        }
      }
      .list__content-label-container:nth-child(3) {
        width: 21%;
        @include desktop {
          width: 23%;
        }
      }
      .list__content-label-container:nth-child(4) {
        width: 21.75%;
        @include desktop {
          width: 22%;
          .list__qty-desktop {
            display: block;
          }
          .list__quantity-desktop {
            display: none;
          }
        }
      }
      .list__content-label-container:nth-child(5) {
        width: 2.75%;
        @include desktop {
          width: 2%;
        }
      }
    }
  }
  &__content-label-container {
    .container__sort-img {
      display: none;
    }
    @include tablet {
      display: flex;
      align-items: flex-end;
      .list__sort-img {
        height: 20px;
        margin: 0 0 2px 8.94px;
        display: block;
      }
    }
  }
  &__content {
    :last-child {
      border: 0;
    }
  }
  &__item {
    border-bottom: 1px solid $cloud;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
    }
    @include desktop {
      > div:hover {
        background-color: rgba(46, 102, 230, 0.07);
      }
    }
  }
  &__item-container {
    margin-top: 1rem;
    @include main-page-padding;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      .list__content-label-container {
        display: none;
      }
    }
    @include desktop {
      justify-content: space-between;
      margin: 0;
    }
  }
  &__text-container {
    @include tablet {
      width: 80%;
      flex-wrap: nowrap;
    }
  }
  &__content-inventory-item {
    order: 0;
    width: 50%;
    .list__content-info {
      color: $instock-blue;
    }
    @include tablet {
      width: 18.75%;
    }
    @include desktop {
      cursor: pointer;
      width: 15%;
    }
  }
  &__content-category {
    margin-top: 1rem;
    width: 50%;
    order: 1;
    @include tablet {
      order: 0;
      margin: 1rem 0;
      width: 18.75%;
    }
    @include desktop {
      width: 18%;
    }
  }
  &__content-status {
    order: 0;
    width: 50%;
    .list__in-stock {
      width: 61px;
      text-align: center;
      margin: 0;
      font-size: $Mobile-H3;
      line-height: $Mobile-H3-LH;
      font-weight: 400;
      color: $green;
      background-color: rgba(21, 132, 99, 0.07);
      border-radius: 20px;
    }
    .list__out-of-stock {
      width: 86px;
      text-align: center;
      margin: 0;
      font-size: $Mobile-H3;
      line-height: $Mobile-H3-LH;
      font-weight: 400;
      color: $red;
      background-color: rgba(201, 69, 21, 0.07);
      border-radius: 20px;
    }
    @include tablet {
      width: 22%;
    }
    @include desktop {
      width: 23.5%;
    }
  }
  &__content-qty {
    margin-top: 1rem;
    width: 50%;
    order: 1;
    @include tablet {
      margin: 0;
      order: 0;
      width: 18.75%;
    }
    @include desktop {
      width: 20%;
    }
  }
  &__content-info-container {
    a {
      display: flex;
      text-decoration: none;
      color: $instock-blue;
    }
  }

  &__btns-container {
    padding: 1.1875rem 0 1.125rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    order: 2;
    .list__content-label {
      display: none;
    }
    @include tablet {
      width: 5.75%;
      flex-direction: column;
      padding: 0;
    }
    @include desktop {
      width: 4%;
    }
  }
  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      @include tablet {
        margin-left: 2vw;
      }
      @include desktop {
        margin-left: 16px;
      }
    }
    @include tablet {
      width: 58px;
    }
  }
  &__del-btn {
    margin-bottom: 4px;
    cursor: pointer;
  }
  &__content-label {
    margin: 0 0 4px;
    font-size: $Mobile-H4;
    font-weight: 400;
    color: $slate;
    @include tablet {
      font-size: $P3;
    }
  }
  &__content-info {
    margin: 0;
    font-size: $Mobile-H3;
    line-height: $Mobile-H3-LH;
    font-weight: 400;
    color: $instock-black;
    @include tablet {
      font-size: $P2;
      line-height: $H3-LH;
    }
  }
}
