@use './variables' as *;
//Viewport mixins
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin page-padding {
  margin: 0 $mobile-outter-page-edge;
  max-width: 704px;

  @include tablet {
    margin: 0 $tablet-outter-page-edge;
    max-width: 1020px;
  }

  @include desktop {
    margin: 0 $desktop-outter-page-edge;
    max-width: 100%;
  }
}

@mixin main-page-padding {
  padding: 0 $mobile-inner-page-edge;
  max-width: 640px;

  @include tablet {
    padding: 0 $tablet-inner-page-edge;
    max-width: 960px;
  }

  @include desktop {
    padding: 0 $desktop-inner-page-edge;
    max-width: 100%;
  }
}

@mixin button-input-style {
  height: 36px;
  border-radius: 36px;

  @include tablet {
    height: 38px;
    border-radius: 38px;
  }
}

@mixin container-overlap {
  position: relative;
  bottom: 64px;
  @include tablet {
    bottom: 94px;
  }
}

@mixin header-overlap {
  padding-bottom: 64px;
  @include tablet {
    padding-bottom: 94px;
  }
}
