//light
@font-face {
    font-family: TitilliumWeb;
    src: url('../../assets/fonts/TitilliumWeb-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

//normal
@font-face {
    font-family: TitilliumWeb;
    src: url('../../assets/fonts/TitilliumWeb-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

//semi-bold
@font-face {
    font-family: TitilliumWeb;
    src: url('../../assets/fonts/TitilliumWeb-SemiBold.ttf');
    font-weight: 300;
    font-style: normal;
}