//colors
$instock-black: #13182c;
$instock-blue: #2e66e6;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;
$white: #ffffff;

//font sizes
$H1: 32px;
$H2: 24px;
$H3: 14px;
$H4: 12px;
$P1: 16px;
$P2: 14px;
$P3: 12px;
$Mobile-H1: 28px;
$Mobile-H2: 20px;
$Mobile-H3: 13px;
$Mobile-H4: 11px;
$Mobile-P1: 15px;
$Mobile-P2: 13px;
$Mobile-P3: 11px;

//line-heights
$H1-LH: 40px;
$H2-LH: 32px;
$H3-LH: 22px;
$H4-LH: 18px;
$P1-LH: 28px;
$P1-LH: 22px;
$P1-LH: 18px;
$Mobile-H1-LH: 36px;
$Mobile-H2-LH: 28px;
$Mobile-H3-LH: 20px;
$Mobile-H4-LH: 16px;
$Mobile-P1-LH: 26px;
$Mobile-P2-LH: 20px;
$Mobile-P3-LH: 16px;

//padding
$mobile-edge: 5vw;
$tablet-edge: 3.125vw;
$desktop-edge: 14.0625vw;
