@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.button {
  @include button-input-style;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $instock-blue;
  color: $white;
  border-style: none;
  padding: 0;
  margin: 0;

  &__text {
    margin: 0;
    font-size: $Mobile-H3;
    line-height: $Mobile-H3-LH;
    font-weight: 600;
    font-style: normal;

    @include tablet {
      font-size: $H3;
      line-height: $H3-LH;
    }
  }

  &--cancel {
    background-color: $light-grey;
    color: $slate;
    border: 1px solid $cloud;
  }

  &--delete {
    background-color: $red;
  }

  &--nav {
    background-color: $graphite;
    color: $cloud;
  }

  &--nav-selected {
    background-color: $instock-black;
  }
}
