@use "../../styles/partials/variables" as *;
@use '../../styles//partials/mixins' as *;

.footer {
  position: absolute;
  bottom: 20px;
  width:100%;
  text-align: center;
  @include tablet {
  }
  &__paragraph {
    font-size: $Mobile-P3;
  }
}
