@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.inventory__container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $cloud;
  padding-left: $mobile-outter-page-edge;
  padding-right: $mobile-outter-page-edge;
  padding-bottom: 17px;
  padding-top: 0px;
  height: auto;
  @include tablet {
    border-bottom: none;
    flex-direction: row;
    align-items: center;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    @include desktop {
      padding-left: 40px;
      padding-right: 40px;
    }
    .inventory__header {
      font-size: 32px;
      margin: 0;
      margin-right: auto;
    }
  }
}
.search__div {
  display: flex;
  border: 1px solid $cloud;
  border-radius: 100px;
  padding: 6px 16px;
  margin-bottom: 16px;
  @include tablet {
    width: 185px;
    margin-bottom: 0;
    margin-right: 16px;
    @include desktop {
      width: 274px;
    }
  }

  .search__bar {
    border: none;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}
.header__button {
  width: 100%;
  @include tablet {
    width: auto;
  }
}
.inventory-header__link {
  text-decoration: none;
}
