@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
.inventory__container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $cloud;
}
.search__div {
  display: flex;
  border: 1px solid $cloud;
  .search__bar {
    border: none;
  }
}
