@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
.pointer {
  cursor: pointer;
}

.list__container {
}

.mobile__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  border-bottom: 1px solid $cloud;

  @include main-page-padding;
  @include tablet {
    display: none;
  }
  .list__divider {
    width: 50%;
    margin-bottom: 8px;
  }
  .list__divider:nth-child(5) {
    width: 50%;
    margin-left: 50%;
  }
  .table__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.list__header {
  font-size: 11px;
  @include tablet {
    font-size: 12px;
  }
}
.list__data {
  font-size: 13px;
  @include tablet {
    font-size: 14px;
  }
}

// //INVENTORY ITEMS

.inventory__table {
  width: 100%;
  display: none;
  padding: 0 24px;
  @include tablet {
    display: table;
    border-collapse: collapse;
  }
}
.table__row {
    border-bottom: 1px solid $cloud;
  .table__data:nth-child(6) {
    align: right;
  }
  .table__data:nth-child(1) {
    @include tablet {
      padding-left: 32px;
      @include desktop {
        padding-left: 40px;
      }
    }
  }
  .table__data:nth-child(6) {
    @include tablet {
      padding-right: 32px;
      @include desktop {
        padding-right: 40px;
      }
    }
  }
}
.table__row:nth-child(1) {
  .table__header:nth-child(1) {
    @include tablet {
      padding-left: 32px;
      @include desktop {
        padding-left: 40px;
      }
    }
  }
  .table__header:nth-child(6) {
    text-align: end;
    @include tablet {
      padding-right: 32px;
      @include desktop {
        padding-right: 40px;
      }
    }
  }
}

.table__header {
  vertical-align: middle;
  text-align: start;
  background: $light-grey;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
}
.table__Icon {
  vertical-align: middle;
}

.table__edit-btn {
  @include tablet {
    margin-left: 16px;
  }
}

.table__edit {
  text-decoration: none;
  color: $instock-blue;
}
.inStock {
  background-color: rgba(21, 132, 99, 0.07);
  color: $green;
  width: 65px;
  text-align: center;
  border-radius: 50px;
}
.outStock {
  background-color: rgba(201, 69, 21, 0.07);
  color: $red;
  width: 92px;
  text-align: center;
  border-radius: 50px;
}
.table__data {
  font-size: 14px;
  @include tablet {
    height: 58px;
  }
}

.list__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
.icon__mover {
  margin-left: auto;
  width: fit-content;
}
