@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
.list__container {
}

.mobile__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  @include tablet {
    display: none;
  }
  .list__divider {
    width: 50%;
    margin-bottom: 8px;
  }
  .list__divider:nth-child(5) {
    width: 50%;
    margin-left: 50%;
  }
  .table__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// //INVENTORY ITEMS

.inventory__table {
  width: 100%;
  display: none;
  padding: 0 24px;
  @include tablet {
    display: table;
    border-collapse: collapse;
  }
}
.table__row {
  border-bottom: 1px solid $cloud;
}
.table__header {
  vertical-align: middle;
  text-align: start;
  background: $light-grey;
  height: 40px;
  font-weight: 600;
}
.table__Icon {
  vertical-align: middle;
}

.table__edit {
  text-decoration: none;
}
.inStock {
  background-color: rgba(21, 132, 99, 0.07);
  color: $green;
  width: 65px;
  text-align: center;
  border-radius: 50px;
}
.outStock {
  background-color: rgba(201, 69, 21, 0.07);
  color: $red;
  width: 92px;
  text-align: center;
  border-radius: 50px;
}
.table__data {
  @include tablet {
    height: 58px;
  }
}
